{% extends "base.html" %} 
{% block content %}

    {% if exists %}
       
    <h1>Patient Data for {{name}} {{lastinit}}.</h1>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <img src="http://i.imgur.com/WqGK9bT.png" class="img-responsive" alt="placeholder image of a human body">
        </div>
        <div class="col-md-4">
         
          <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd>{{name}}</dd>
            <dt>Last Initial</dt>
            <dd>{{lastinit}}</dd>
            <dt>DOB</dt>
            <dd>1/1/2000</dd>
        </dl>

        <h2>Symptoms</h2>
        <p>Symptom description goes here</p>

        </div>
      </div>
    </div>

    {% else %}
    <p> This patient does not exist</p>

    {% endif %}

{% endblock %}