<html>
  <head>
    <title> VR Mindfulness Home Page </title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body><h2 class="webname2" align="center"> VR Mindfulness Home Page </h2>
    <h4><a href="{{ url_for('main.main_route') }}" class="indices">Physician View</a></h4>
    <h4><a href="{{ url_for('main.patient_view_route') }}" class="indices">Patient View</a></h4>
    <footer class="foot"> A website developed for EECS 481 W17 Mindfulness project </footer>
  </body>
</html>  
