{% extends "base.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
    
<h3 class="home"> Search Patient Data </h3>

    <!-- Form for searching patient -->
    <div>
    <p class="instruct" color=red>
        Enter the patient's first name and last initial to access information
    </p>
    <form action="/action_page.php">
        <label for="fname" class="text_fields">Patient's First Name</label>
        <input type="text" id="fname" name="firstname">
        <br>
        <label for="lname" class="text_fields">Patient's Last Initial</label>
        <input type="text" id="lname" name="lastname">
        <br>
        <input type="submit" value="Search" class="text_fields">
    </form>
</div>

{% endblock %}
